{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}

    <h1>All articles from : {{ tagName }} </h1>
    {% for article in articles %}
        <div>
            <h2>{{ article.id }} /{{ article.title }} - Tag : {{ tagName }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}

{% endblock %}

