{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>
    <a onclick="addToFavorite()">{{ isFavorite ? '<i id="favorite" class="fas fa-heart"></i>' : '<i id="favorite" class="far fa-heart"></i>' }}</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">back to list</a>
        {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
    {% endif %}



    <strong>Tags :</strong>
    <ul>
        {% for tag in article.tags %}
            <li><a href="{{ path('show_tag', {'name': tag.name})}}">{{ tag.name }}</a></li>
        {% else %}
            <li>No tags for this article</li>
        {% endfor %}
    </ul>

{% endblock %}

{% block javascripts %}
    <script>
        function addToFavorite() {
            fetch('{{ path('article_favorite', {'id': article.id}) }}')
                .then(response => response.json())
                .then(json => {
                    let favoriteElt = document.getElementById('favorite');
                    if (json.isFavorite) {
                        favoriteElt.classList.remove('far');
                        favoriteElt.classList.add('fas');
                    }
                    else {
                        favoriteElt.classList.remove('fas');
                        favoriteElt.classList.add('far');
                    }
                });
        }
    </script>
{% endblock %}
